<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/icreate.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title if title else "QR Attendance" }}</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <header class="site-header">
        <div class="container nav-wrap">
            <img 
          src="/icreate.png" 
          alt="iCreate Logo"
          style="
            width: 50px;
            height: 50px;
            object-fit: contain;
            margin-bottom: 0.8rem;
            border-radius: 50%;
            display: block;
            "
        />

            <h1>QR Attendance</h1>
            <nav>
                <a href="/">Dashboard</a>
                <a href="/students">Students</a>
                <a href="/scanner">Scanner</a>
                <a href="/reports">Reports</a>
                <a href="/admin">Admin</a>
            </nav>
        </div>
    </header>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    <script src="/static/app.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
